form{
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: #FAEDC6;
}

form input{
    width: 100%;
    padding: 5px;
}

.formBox{
    margin-bottom: 20px;
}

.error {
  border: red solid 3px;
}