nav{
    background-color: rgb(153, 180, 255);
}

.containerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px;
}

.logo{
    width: 70px;
    margin: 10px;
}

li{
    display: inline-block;
    margin: 0 20px;
}
